<p>Hello,</p>

<p>You have been invited to create an account. Click the link below to set your
  password:</p>

<p><a href='{{url}}'>Set Your Password</a></p>

<p>If you did not expect this email, please ignore it.</p>

<p>Regards,<br />Your Team</p>